<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huracan - The weather app</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
</head>
<body>
	<div id="main">
		<h1>Find the weather</h1>
		<form method="GET">
			<label for="city"></label>
			<input type="text" name="city" id="city" placeholder="Insert here the city..." />
			<input type="submit" name="Submit" />
		</form>
		{% if weather %}
    		<h3>{{weather.region}}</h3>
    		<h3>{{weather.daytime}}</h3>
    		<h3>{{weather.temp}}° C</h3>
    		<h3>{{weather.status}}</h3>
		{% endif %}
	</div>
</body>
</html>